body{
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    font-family: "游ゴシック", "ヒラギノ角ゴシック", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
.copyright{
    position: absolute;
    bottom: 5px;
    right: 0;
}
.copyright-help{
    margin-right: 0;
    margin-left: auto;
}

/* converter.html */
.main{
    display: flex;
    justify-content: center;
    /* align-items: center; */
}
.toolbar{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background: #eeeeee;
    border: solid 1px #888888;
}
.toolbar > div{
    position: relative;
}
.tools{
    background-color: #EEEEEE;
    border-radius: 30%;
    width: 60px;
    height: 60px;
    margin: 3px 25px 3px 0px;
    padding: 10px;
}
.tools:hover{
    background-color: #DDDDDD;
}
.tools + p{
    display: none;
    position: absolute;
    top: 60px;
    left: 20px;
    width: max-content;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 8px #888888;
    z-index: 3;
}
.tools:hover + p{
    display: block;
}
.file_icons{
    width: 16vw;
}
.arrow_line{
    height: 10vw;
    margin-top: 5vw;
}
#upload, #upload > label, #download{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3vw;
}
#upload{
    margin-right: 3vw;
}
#upload > label{
    color: #888888;
    cursor: pointer;
}
#download{
    margin-left: 3vw;
}
#league{
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30vh;
    left: 30vw;
    width: 40vw;
    height: 40vh;
    overflow: auto;
    padding: 2vw 5vw 2vw 5vw;
    background-color: #F8F8F8;
    border-radius: 20px;
    font-size: 1.2vw;
    cursor: default;
    transition: all 0.3s 0s ease-out;
    z-index: 5;
}
#league > span{
    font-size: 1.3vw;
    font-weight: 700;
    padding-bottom: 1vw;
}
#league.active{
    visibility: visible;
    opacity: 1;
}
#league_decide{
    position: absolute;
    right: 5vw;
    bottom: 3vw;
    width: 12vw;
    text-align: center;
    background-color: #000000;
    color: #f8f8f8;
    padding: 1vw;
    border-radius: 1vw;
}
#overlay{
    visibility: collapse;
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color: #555555;
    opacity: 0;
    transition: all 0.3s 0s ease-out;
    z-index: 4;
}
#overlay.active{
    visibility: visible;
    opacity: 0.7;
}
.container {
    display: block;
    position: relative;
    padding-left: 2vw;
    margin-bottom: 1vw;
    cursor: pointer;
    user-select: none;
    padding-right: 2vw;
}
/* デフォルトのラジオボタンデザインを無効化 */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* カスタムラジオボタンの作成 */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5vw;
    width: 1.5vw;
    background-color: #DDDDDD;
    border-radius: 50%;
}
/* チェックした時のカラーリング */
.container input:checked ~ .checkmark {
    background-color:#000000;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: solid 0.3vw #F8F8F8;
    border-radius: 50%;
    background-color:#000000;
}