.main{
    display: flex;
    justify-content: center;
}
.file_icons{
    width: 16vw;
}
.arrow_line{
    height: 10vw;
    margin-top: 5vw;
}
#upload, #upload > label, #download{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.3vw;
}
#upload{
    margin-right: 3vw;
}
#upload > label{
    color: #888888;
    cursor: pointer;
}
#download{
    margin-left: 3vw;
}