@media print{
    #timer_buttons, #stop, #hinan, #attention, #statistics > h1, #statistics > h2:nth-of-type(4), #statistics_score, #statistics_close, .toolbar, .guide, .copyright{
        display: none;
    }
    .menu{
        width: 350px;
        height: 600px;
        overflow: hidden;
    }
    .menu > p{
        font-size: 15px;
    }
    .index{
        width: 300px;
        font-size: 15px;
    }
    #timer, #score{
        margin-top: 10px;
        margin-left: 10px;
        width: 300px;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
    }
    #statistics{
        display: block !important;
        position: static !important;
        visibility: visible !important;
        opacity: 1 !important;
        width: -moz-fit-content !important;
        width: fit-content !important;
        height: -moz-fit-content !important;
        height: fit-content !important;
        overflow: hidden !important;
        padding: 0 !important;
        background-color: #FFFFFF !important;
        border-radius: 0 !important;
        font-size: unset !important;
        cursor: unset !important;
        transition: none !important;
        z-index: 1 !important;
    }
    #statistics > h2{
        width: 300px;
        font-size: 15px;
        height: 35px;
        padding: 10px;
        margin-left: 10px;
        font-size: 15px;
        color: #FFFFFF;
        background-color: #000000;
        cursor: normal;
    }
    #statistics > p, #statistics > div{
        margin-left: 15px;
    }
}
.coursedata{
    font-size: 10px;
    text-align: center;
    color: #000000;
    background-color: #CCCCCC;
    border-radius: 7px 7px 7px 7px;   
}
.bump, .obstacle{
    box-shadow: 0 0 5px #FFD700;
}
.bump.cleared, .obstacle.cleared{
    box-shadow: 0 0 5px #888888;
}
#rule > h1, #statistics > h1{
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 2vw;
}
#rule > h2, #statistics > h2{
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 1vw;
}
#hazard_out{
    position: absolute;
}
#hazard{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #F8F8F8;
    padding: 10px;
    border-radius: 15px;
    cursor: default;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 3;
    box-shadow: 0 0 10px #888888;
}
#hazard_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}
#hazard_name{
    font-size: 22px;
    font-weight: 600;
}
#hazard_score{
    background-color: #DDDDDD;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 10px;
    padding: 5px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
#hazard_status{
    font-size: 13px;
    color: #888888;
    text-decoration: underline solid 1px;
    margin-bottom: 5px;
    margin-left: 13px;
}
#hazard_clear, #hazard_clear2{
    margin-left: 20px;
    width: 100px;
    height: 35px;
    text-align: center;
    font-weight: 500;
    color: #111111;
    background-color: #F8F8F8;
    border: solid 3px #111111;
    box-shadow: 0 0 10px #FFD700;
    padding: 5px;
    border-radius: 17px;
}
#hazard_clear:hover, #hazard_clear2:hover{
    transition: all 0.2s ease-out;
    background-color: #111111;
    color: #F8F8F8;
}
#hazard_clear.disabled, #hazard_clear2.disabled{
    border: solid 3px #888888 !important;
    box-shadow: 0 0 10px #FFD700;
}
#hazard_clear.disabled:hover, #hazard_clear2.disabled:hover{
    transition: all 0.2s ease-out;
    background-color: #888888;
    color: #F8F8F8;
}
#hazard_clear.cleared, #hazard_clear2.cleared{
    border: solid 3px #111111 !important;
    box-shadow: 0 0 10px #888888;
}
#hazard_clear2{
    margin-top: 10px;
}
.image_hazard{
    height: 80px;
    width: 80px;
    box-shadow: 0 0 5px #FFD700;
    cursor: default;
}
.image.hazard{
    box-shadow: 0 0 5px #FFD700;
}
.image_hazard_cleared{
    height: 80px;
    width: 80px;
    box-shadow: 0 0 5px #888888;
    cursor: default;
}
.stop_counter{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #DD0000;
    color: #FFFFFF;
    border-radius: 50%;
    z-index: 0;
}