body{
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    font-family: "游ゴシック", "ヒラギノ角ゴシック", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
.copyright{
    position: absolute;
    bottom: 5px;
    right: 0;
}
/* index.html */
table{
    margin-left: 30px !important;
    border-collapse: collapse;
    overflow: scroll;
	overflow-x: auto;
	overflow-y: auto;
    max-height: 80vh;
}
.main{
    display: flex;
    align-items: flex-start;
}
.toolbar{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background: #eeeeee;
    border: solid 1px #888888;
}
.toolbar > div, .toolbar > label, #start > div > div, #start > div > label{
    position: relative;
}
.tools, .start_tools{
    background-color: #EEEEEE;
    border-radius: 30%;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
.tools:hover, .start_tools:hover{
    background-color: #DDDDDD;
}
.tools + p, .start_tools + p{
    display: none;
    position: absolute;
    width: max-content;
    font-size: 15px;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 8px #888888;
    z-index: 3;
}
.tools:hover + p, .start_tools:hover + p{
    display: block;
}
.menu{
    position: relative;
    display: flex;
    /* flex-wrap:wrap; */
    flex-direction: column !important;
    max-height: 80vh;
    overflow: auto;
    border-right: solid 5px #000000;
}
.group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
td{
    position: relative;
    border: 1px solid #AAAAAA;
    background-color: #EEEEEE;
}
.index{
    height: 35px;
    padding: 10px;
    margin-left: 10px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #000000;
    cursor: normal;
}
#timer_buttons{
    display: flex;
}
#score{
    display: flex;
    justify-content: center;
    align-items: center;
}
#added_score{
    background-color: #DDDDDD;
    border-radius: 10px;
    padding: 5px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
#stop_count{
    display: flex;
    justify-content: center;
    align-items: center;
}
#timer_start, #timer_stop, .button_hinan{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: 500;
    color: #111111;
    background-color: #F8F8F8;
    border: solid 3px #111111;
}
#timer_start:hover, #timer_stop:hover, .button_hinan:hover{
    transition: all 0.2s ease-out;
    background-color: #111111;
    color: #F8F8F8;
}
@media screen and (min-width:1040px){
    .menu{
        width: 340px;
    }
    .menu > p{
        font-size: 15px;
    }
    .index{
        width: 300px;
        font-size: 15px;
    }
    #timer, #score{
        margin-top: 10px;
        margin-left: 10px;
        width: 300px;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
    }
    #timer_buttons{
        flex-direction: row;
    }
    #timer_start, #timer_stop{
        margin-left: 20px;
        margin-bottom: 20px;
        height: 35px;
        width: 120px;
        padding: 10px;
        border-radius: 17px;
    }
    #added_score{
        margin-left: 2vw;
        font-size: 1.5vw;
        font-weight: 400;
    }
    #stop_count{
        margin-left: 10px;
        margin-bottom: 5px;
        width: 300px;
        font-size: 30px;
        font-weight: 600;
    }
    .button_hinan{
        margin-top: 10px;
        margin-left: 20px;
        height: 35px;
        width: 150px;
        padding: 10px;
        border-radius: 17px;
    }
    .image{
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
    .tools{
        width: 50px;
        height: 50px;
        margin-right: 25px;
    }
    .start_tools{
        width: 90px;
        height: 90px;
        margin-right: 80px;
    }
    .tools + p{
        top: 50px;
        left: 20px;
    }
    .start_tools + p{    
        top: 80px;
        left: 30px;
    }
    .check-marker{
        height: 17px;
        width: 17px;
        font-size: 10px;
        text-align: center;
    }
    .obstacle, .obstacle_cleared{
        height: 30px;
        width: 30px;
        left: 25px;
        top: 25px;
    }
    .bump, .bump_cleared{
        height: 80px;
    }
}
@media screen and (max-width:1040px) and (min-width:920px){
    .menu{
        width: 240px;
    }
    .menu > p{
        font-size: 15px;
    }
    .index{
        width: 200px;
        font-size: 15px;
    }
    #timer, #score{
        margin-top: 10px;
        margin-left: 10px;
        width: 200px;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
    }
    #timer_buttons{
        flex-direction: column;
        align-items: center;
    }
    #timer_start, #timer_stop{
        margin-bottom: 10px;
        height: 35px;
        width: 120px;
        padding: 10px;
        border-radius: 17px;
    }
    #added_score{
        margin-left: 20px;
        font-size: 15px;
        font-weight: 400;
    }
    #stop_count{
        margin-left: 10px;
        margin-bottom: 5px;
        width: 200px;
        font-size: 30px;
        font-weight: 600;
    }
    .button_hinan{
        margin-top: 10px;
        margin-left: 20px;
        height: 35px;
        width: 150px;
        padding: 10px;
        border-radius: 17px;
    }
    .image{
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
    .tools{
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    .start_tools{
        width: 80px;
        height: 80px;
        margin-right: 80px;
    }
    .tools + p{
        top: 50px;
        left: 20px;
    }
    .start_tools + p{    
        top: 70px;
        left: 30px;
    }
    .check-marker, .stop-merker{
        height: 17px;
        width: 17px;
        font-size: 10px;
        text-align: center;
    }
    .obstacle, .obstacle_cleared{
        height: 30px;
        width: 30px;
        left: 25px;
        top: 25px;
    }
    .bump, .bump_cleared{
        height: 80px;
    }
}
@media screen and (max-width:920px){
    .menu{
        width: 25vw;
    }
    .menu > p{
        font-size: 1.5vw;
    }
    .index{
        width: 20vw;
        font-size: 1.5vw;
    }
    #timer, #score{
        margin-top: 10px;
        margin-left: 10px;
        width: 18vw;
        text-align: center;
        font-size: 5vw;
        font-weight: 700;
    }
    #timer_buttons{
        flex-direction: column;
        align-items: center;
    }
    #timer_start, #timer_stop{
        font-size: 1.5vw;
        margin-bottom: 10px;
        height: 3.5vw;
        width: 15vw;
        padding: 10px;
        border-radius: 1.7vw;
    }
    #added_score{
        margin-left: 20px;
        font-size: 15px;
        font-weight: 400;
    }
    #stop_count{
        margin-left: 10px;
        margin-bottom: 5px;
        width: 18vw;
        font-size: 3vw;
        font-weight: 600;
    }
    .button_hinan{
        margin-top: 10px;
        margin-left: 20px;
        height: 3.5vw;
        width: 15vw;
        font-size: 1.5vw;
        padding: 10px;
        border-radius: 1.7vw;
    }
    .image{
        height: 8vw;
        width: 8vw;
        cursor: pointer;
    }
    .tools{
        width: 6vw;
        height: 6vw;
        margin-right: 2vw;
    }
    .start_tools{
        width: 8vw;
        height: 8vw;
        margin-right: 8vw;
    }
    .tools + p{
        top: 5vw;
        left: 2vw;
    }
    .start_tools + p{    
        top: 7vw;
        left: 3vw;
    }
    .help-link{
        width: 20vw !important;
    }
    .check-marker{
        height: 2vw;
        width: 2vw;
        font-size: 1.5vw;
        text-align: center;
    }
    .obstacle, .obstacle_cleared{
        height: 3vw;
        width: 3vw;
        left: 2.5vw;
        top: 2.5vw;
    }
    .bump, .bump_cleared{
        height: 8vw;
    }
}
@media print{
    body{
        background-color: #FFFFFF;
    }
    table{
        overflow: visible;
    }
    .menu{
        width: 350px;
        height: 600px;
        overflow: hidden;
    }
    .menu > p{
        font-size: 15px;
    }
    .index{
        width: 300px;
        font-size: 15px;
    }
    #timer, #score{
        margin-top: 10px;
        margin-left: 10px;
        width: 300px;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
    }
    #timer_buttons{
        display: none;
    }
    #stop{
        display: none;
    }
    #hinan{
        display: none;
    }
    #attention{
        display: none;
    }
    #statistics{
        display: block !important;
        position: static !important;
        visibility: visible !important;
        opacity: 1 !important;
        width: -moz-fit-content !important;
        width: fit-content !important;
        height: -moz-fit-content !important;
        height: fit-content !important;
        overflow: hidden !important;
        padding: 0 !important;
        background-color: #FFFFFF !important;
        border-radius: 0 !important;
        font-size: unset !important;
        cursor: unset !important;
        transition: none !important;
        z-index: 1 !important;
    }
    #statistics > h1{
        display: none;
    }
    #statistics > h2{
        width: 300px;
        font-size: 15px;
        height: 35px;
        padding: 10px;
        margin-left: 10px;
        font-size: 15px;
        color: #FFFFFF;
        background-color: #000000;
        cursor: normal;
    }
    #statistics > h2:nth-of-type(4){
        display: none;
    }
    #statistics_score{
        display: none;
    }
    #statistics > p, #statistics > div{
        margin-left: 15px;
    }
    #statistics_close{
        display: none;
    }
    .image{
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
    .toolbar{
        display: none;
    }
    .check-marker{
        height: 17px;
        width: 17px;
        font-size: 10px;
        text-align: center;
    }
    .obstacle, .obstacle_cleared{
        height: 30px;
        width: 30px;
        left: 25px;
        top: 25px;
    }
    .bump, .bump_cleared{
        height: 80px;
        left: 37px;
        top: 0px;
    }
    .guide{
        display: none;
    }
    .copyright{
        display: none;
    }
}
.description{
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 4px;
    border: solid 1px #AAAAAA;
    font-size: 12px;
    color: #000000;
    background-color: #f8f8f8;
    z-index: 3;
}
.coursedata{
    font-size: 10px;
    text-align: center;
    color: #000000;
    background-color: #CCCCCC;
    border-radius: 7px 7px 7px 7px;   
}
.check-marker{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #FFD700;
    border-radius: 50%;
    z-index: 1;
}
.obstacle, .obstacle.cleared{
    display: block;
    position: absolute;
    z-index: 1;
}
.bump, .bump.cleared{
    display: block;
    position: absolute;
    z-index: 1;
}
.bump, .obstacle{
    box-shadow: 0 0 5px #FFD700;
}
.bump.cleared, .obstacle.cleared{
    box-shadow: 0 0 5px #888888;
}
.guide{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    padding: 7px 10px 7px 10px;
    font-size: 15px;
    width: 100%;
    background: #DDDDDD;
    cursor: default;
}
#contextmenu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 8px #888888;
    z-index: 2;
}
.contextmenu-title_active, .contextmenu-title{
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
    border-bottom: solid 1px #AAAAAA;
}
.contextmenu-title{
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
}
.contextmenu-title_active{
    color: #000000;
    cursor: pointer;
}

#start{
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    overflow: auto;
    padding: 2vw 5vw 2vw 5vw;
    background-color: #F8F8F8;
    border-radius: 20px;
    font-size: 1.2vw;
    cursor: default;
    transition: all 0.3s 0s ease-out;
    z-index: 5;
}
#league{
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 30vh;
    left: 30vw;
    width: 40vw;
    height: 40vh;
    overflow: auto;
    padding: 2vw 5vw 2vw 5vw;
    background-color: #F8F8F8;
    border-radius: 20px;
    font-size: 1.2vw;
    cursor: default;
    transition: all 0.3s 0s ease-out;
    z-index: 5;
}
#league > span{
    font-size: 1.3vw;
    font-weight: 500;
    padding-bottom: 1vw;
}
#league.active{
    visibility: visible;
    opacity: 1;
}
#league_nrl, #league_wrl, #rule_close, #statistics_close{
    position: absolute;
    width: 10vw;
    height: 3vw;
    text-align: center;
    font-weight: 500;
    color: #111111;
    background-color: #F8F8F8;
    border: solid 3px #111111;
    padding: 0.8vw;
    border-radius: 1.5vw;
}
#league_nrl:hover, #league_wrl:hover, #rule_close:hover, #statistics_close:hover{
    transition: all 0.2s ease-out;
    background-color: #111111;
    color: #F8F8F8;
}
#league_nrl{
    right: 18vw;
    bottom: 3vw;
}
#league_wrl, #rule_close, #statistics_close{
    right: 5vw;
    bottom: 3vw;
}
#start.active{
    visibility: visible;
    opacity: 1;
}
#rule, #statistics{
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 10vh;
    left: 15vw;
    width: 70vw;
    height: 80vh;
    overflow: auto;
    padding: 2vw 5vw 2vw 5vw;
    background-color: #F8F8F8;
    border-radius: 20px;
    font-size: 1.2vw;
    cursor: default;
    transition: all 0.3s 0s ease-out;
    z-index: 5;
}
#rule > h1, #statistics > h1{
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 2vw;
}
#rule > h2, #statistics > h2{
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 1vw;
}
#rule.active, #statistics.active{
    visibility: visible;
    opacity: 1;
}

#overlay{
    visibility: collapse;
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color: #555555;
    opacity: 0;
    transition: all 0.3s 0s ease-out;
    z-index: 4;
}
#overlay.active{
    visibility: visible;
    opacity: 0.7;
}

#hazard_out{
    position: absolute;
}
#hazard{
    display: flex;
    flex-direction: row;
    position: relative;
    background-color: #F8F8F8;
    padding: 10px;
    border-radius: 15px;
    cursor: default;
    width: -moz-fit-content;
    width: fit-content;
    z-index: 3;
    box-shadow: 0 0 10px #888888;
}
#hazard_img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
}
#hazard_name{
    font-size: 22px;
    font-weight: 600;
}
#hazard_score{
    background-color: #DDDDDD;
    border-radius: 10px;
    font-size: 12px;
    margin-left: 10px;
    padding: 5px;
    width: -moz-fit-content;
    width: fit-content;
    height: -moz-fit-content;
    height: fit-content;
}
#hazard_status{
    font-size: 13px;
    color: #888888;
    text-decoration: underline solid 1px;
    margin-bottom: 5px;
    margin-left: 13px;
}
#hazard_clear, #hazard_clear2{
    margin-left: 20px;
    width: 100px;
    height: 35px;
    text-align: center;
    font-weight: 500;
    color: #111111;
    background-color: #F8F8F8;
    border: solid 3px #111111;
    box-shadow: 0 0 10px #FFD700;
    padding: 5px;
    border-radius: 17px;
}
#hazard_clear:hover, #hazard_clear2:hover{
    transition: all 0.2s ease-out;
    background-color: #111111;
    color: #F8F8F8;
}
#hazard_clear.disabled, #hazard_clear2.disabled{
    border: solid 3px #888888 !important;
    box-shadow: 0 0 10px #FFD700;
}
#hazard_clear.disabled:hover, #hazard_clear2.disabled:hover{
    transition: all 0.2s ease-out;
    background-color: #888888;
    color: #F8F8F8;
}
#hazard_clear.cleared, #hazard_clear2.cleared{
    border: solid 3px #111111 !important;
    box-shadow: 0 0 10px #888888;
}
#hazard_clear2{
    margin-top: 10px;
}
.image_hazard{
    height: 80px;
    width: 80px;
    box-shadow: 0 0 5px #FFD700;
    cursor: default;
}
.image.hazard{
    box-shadow: 0 0 5px #FFD700;
}
.image_hazard_cleared{
    height: 80px;
    width: 80px;
    box-shadow: 0 0 5px #888888;
    cursor: default;
}