#tile_now > div{
    margin-left: 20px;
}
#tile_now_img{
    position: relative;
}
#tile_now_name{
    font-weight: 600;
}
#tile_now_status, #tile_now_stopped{
    color: #888888;
    text-decoration: underline solid 1px;
}
.bump, .obstacle{
    box-shadow: 0 0 5px #FFD700;
}
.bump.cleared, .obstacle.cleared{
    box-shadow: 0 0 5px #888888;
}

#rule > h1, #statistics > h1, #level > p{
    font-size: 2.5vw;
    font-weight: 700;
    margin-bottom: 2vw;
}
#rule > div > h2, #statistics > div > h2{
    font-size: 1.5vw;
    font-weight: 500;
    margin-top: 1vw;
}
#rule > div > ul > li{
    text-indent: 1em;
}

.image.hazard{
    box-shadow: 0 0 5px #FFD700;
}
.route_counter{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #888888;
    color: #FFFFFF;
    border-radius: 50%;
    z-index: 0;
}
.stop_counter{
    position: absolute;
    right: 0px;
    top: 0px;
    background-color: #DD0000;
    color: #FFFFFF;
    border-radius: 50%;
    z-index: 0;
}
@media screen and (min-width:1040px){
    #tile_now_name{
        font-size: 22px;
    }
    #tile_now_score{
        font-size: 12px;
        margin-left: 10px;
    }
    #tile_now_status, #tile_now_stopped{
        font-size: 13px;
        margin-bottom: 5px;
        margin-left: 13px;
    }
    .line_tools{
        width: 50px;
        height: 50px;
        margin-right: 10px;
    }
}
@media screen and (max-width:1040px) and (min-width:920px){
    #tile_now_name{
        font-size: 22px;
    }
    #tile_now_score{
        font-size: 12px;
        margin-left: 10px;
    }
    #tile_now_status, #tile_now_stopped{
        font-size: 13px;
        margin-bottom: 5px;
        margin-left: 13px;
    }
    .line_tools{
        width: 45px;
        height: 45px;
    }
}
@media screen and (max-width:920px){
    #tile_now_name{
        font-size: 2.2vw;
    }
    #tile_now_score{
        font-size: 1.2vw;
        margin-left: 1vw;
    }
    #tile_now_status, #tile_now_stopped{
        font-size: 1.3vw;
        margin-bottom: 0.5vw;
        margin-left: 13px;
    }
    .line_tools{
        width: 4.5vw;
        height: 4.5vw;
    }
    .line_tools + p{
        font-size: 1.5vw !important;
    }
}
@media print{
    .menu{
        width: 350px;
        height: 600px;
        overflow: hidden;
    }
    .menu > p{
        font-size: 15px;
    }
    .index{
        width: 300px;
        font-size: 15px;
    }
    #timer, #score{
        margin-top: 10px;
        margin-left: 10px;
        width: 300px;
        text-align: center;
        font-size: 50px;
        font-weight: 700;
    }
    #timer_buttons, #stop, #hinan, #attention, #tile_now, #statistics > h1, #statistics > div > h2:nth-of-type(5), #statistics_score, #statistics_close, .toolbar, .guide, .copyright{
        display: none;
    }
    #statistics{
        display: block;
        position: static;
        visibility: visible;
        opacity: 1;
        width: -moz-fit-content;
        width: fit-content;
        height: -moz-fit-content;
        height: fit-content;
        overflow: hidden;
        padding: 0;
        background-color: #FFFFFF;
        border-radius: 0;
        font-size: unset;
        cursor: unset;
        transition: none;
        z-index: 1;
    }
    #statistics > div{
        overflow-y: visible;
    }
    #statistics > h2{
        width: 300px;
        font-size: 15px;
        height: 35px;
        padding: 10px;
        margin-left: 10px;
        font-size: 15px;
        color: #FFFFFF;
        background-color: #000000;
        cursor: default;
    }
    #statistics > p, #statistics > div{
        margin-left: 15px;
    }
}