.menu-img-w, .menu-img-n{
    margin: 4px 4px 4px 4px;
    border: solid 0.1px #AAAAAA;
    background-color: #FFFFFF;
    cursor: pointer;
    z-index: 0;
}
.menu-img-w:hover + .description,
.menu-img-n:hover + .description,
.coursedata:hover ~ .description{
    display: block;
}
.coursedata{
    margin: 4px 4px 4px 4px;
    font-size: 10px;
    text-align: center;
    color: #000000;
    background-color: #CCCCCC;
    border-radius: 7px 7px 7px 7px;   
}

#bump_settings > div{
    display: flex;
    flex-direction: row;
    height: 2vw;
    margin-bottom: 1.2vw;
}
#bump_settings > p{
    margin-bottom: 1vw;
}
#bump_settings > div > span{
    margin-right: 10px;
}
.bump-input{
    height: 2vw;
    width: 7vw;
    padding: 2px;
    margin-right: 20px;
    border: solid 1px #000000;
    border-radius: 5px;
}
#image-preview{
    cursor: default !important;
}
@media screen and (min-width:1040px){
    .menu-img-w, .menu-img-n, .coursedata{
        width: 60px;
        height: 60px;
    }
}
@media screen and (max-width:1040px) and (min-width:920px){
    .menu-img-w, .menu-img-n, .coursedata{
        height: 60px;
        width: 60px;
    }
}
@media screen and (max-width:920px){
    .menu-img-w, .menu-img-n, .coursedata{
        height: 8vw;
        width: 8vw;
    }
}
@media print{
    .menu{
        display: none;
    }
    .guide{
        display: none;
    }
    .copyright{
        display: none;
    }
}