body{
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    font-family: "游ゴシック", "ヒラギノ角ゴ ProN", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
.copyright{
    position: absolute;
    bottom: 5px;
    right: 0;
}
/* help.html */
.copyright-help{
    margin-right: 0;
    margin-left: auto;
}
/* home.html */
.home-img{
    margin: 3vw auto 3vw auto;
    width: 80vw;
    font-size: 5vw;
}
.home-link{
    background: #000000;
    color: #ffffff;
    font-size: 1.5vw;
    text-align: center;
    line-height: 4vw;
    height: 4vw;
    width: 30vw;
    margin: 1vw auto 1vw auto;
    border-radius: 7px 7px 7px 7px;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}
.repository{
    color: #4400FF;
    text-decoration: underline solid 1px #4400FF;
}
/* help.html */
.help_h1{
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 30px;
}
.help_h2{
    font-size: 30px;
    margin-top: 50px;
    margin-bottom: 10px;
}
.help_h3{
    font-size: 20px;
    margin-top: 20px;
    font-weight: 700;
    text-indent: 1em;
}
.help_h4{
    font-size: 20px;
    text-decoration: underline solid 1px;
    margin-top: 10px;
    margin-bottom: 5px;
    text-indent: 1em;
}
.help-sentence{
    font-size: 20px;
    text-indent: 1em;
    padding-left: 20px;
}
.help-sentence-changes{
    font-size: 20px;
    text-indent: -1em;
    padding-left: 50px;
}
.help_icon{
    width: 25px;
    display: inline;
    margin-right: 10px;
    border-radius: 30%;
    padding: 3px;
    background-color: #DDDDDD;
}
.help_img{
    width: 80%;
    height: auto;
    padding-left: 20px;
}
.help-link-div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.help-link{
    width: 200px;
    text-align: center;
    background-color: #000000;
    color: #f8f8f8;
    padding: 10px;
    border-radius: 8px;
    margin-right: 15px;
    margin-bottom: 15px;
}
.help-table {
    margin-left: 0 !important;
    border-collapse: collapse;
    border: 1px solid #000000;
}
.help-table > tbody > tr > td{
    background-color: #F8F8F8;
    border: 1px solid #000000;
    text-align: center;
    vertical-align: middle;
    padding: 3px;
}
@media screen and (min-width:920px){
    .help-table {
        width: 600px;
    }
}
@media screen and (max-width:920px){
    .help-table {
        width: 60vw;
    }
}

/* index.html */
table{
    margin-left: 30px !important;
    border-collapse: collapse;
    overflow: scroll;
	overflow-x: auto;
	overflow-y: auto;
    max-height: 80vh;
}
.main{
    display: flex;
    align-items: flex-start;
}
.toolbar{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background: #eeeeee;
    border: solid 1px #888888;
}
.toolbar > div, .toolbar > label, #start > div > div, #start > div > label{
    position: relative;
}
.tools, .start_tools{
    background-color: #EEEEEE;
    border-radius: 30%;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
.tools:hover, .start_tools:hover{
    background-color: #DDDDDD;
}
.tools + p, .start_tools + p{
    display: none;
    position: absolute;
    width: max-content;
    font-size: 15px;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 8px #888888;
    z-index: 3;
}
.tools:hover + p, .start_tools:hover + p{
    display: block;
}
.menu{
    display: flex;
    /* flex-wrap:wrap; */
    flex-direction: column !important;
    align-items: center;
    border-right: solid 5px #000000;
    overflow: auto;
    max-height: 80vh;
}
.group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and (min-width:1040px){
    .menu{
        width: 340px;
    }
    .index{
        width: 270px;
    }
    /* .index-plus{
        padding-left: 180px;
    } */
    .image, #image-preview{
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
    .tools{
        width: 50px;
        height: 50px;
        margin-right: 25px;
    }
    .start_tools{
        width: 90px;
        height: 90px;
        margin-right: 80px;
    }
    .tools + p{
        top: 50px;
        left: 20px;
    }
    .start_tools + p{    
        top: 80px;
        left: 30px;
    }
    .menu-img-w, .menu-img-n{
        height: 60px;
        width: 60px;
    }
    .coursedata{
        width: 60px;
        height: 60px;
    }
    .check-marker{
        height: 17px;
        width: 17px;
    }
    .obstacle{
        height: 30px;
        width: 30px;
        left: 25px;
        top: 25px;
    }
    .bump{
        height: 80px;
    }
}
@media screen and (max-width:1040px) and (min-width:920px){
    .menu{
        width: 270px;
    }
    .index{
        width: 200px;
    }
    /* .index-plus{
        padding-left: 110px;
    } */
    .image, #image-preview{
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
    .tools{
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    .start_tools{
        width: 80px;
        height: 80px;
        margin-right: 80px;
    }
    .tools + p{
        top: 50px;
        left: 20px;
    }
    .start_tools + p{    
        top: 70px;
        left: 30px;
    }
    .menu-img-w, .menu-img-n{
        height: 60px;
        width: 60px;
    }
    .coursedata{
        width: 60px;
        height: 60px;
    }
    .check-marker{
        height: 17px;
        width: 17px;
    }
    .obstacle{
        height: 30px;
        width: 30px;
        left: 25px;
        top: 25px;
    }
    .bump{
        height: 80px;
    }
}
@media screen and (max-width:920px){
    .menu{
        width: 25vw;
    }
    .index{
        width: 20vw;
    }
    /* .index-plus{
        padding-left: 110px;
    } */
    .image, #image-preview{
        height: 8vw;
        width: 8vw;
        cursor: pointer;
    }
    .tools{
        width: 6vw;
        height: 6vw;
        margin-right: 2vw;
    }
    .start_tools{
        width: 8vw;
        height: 8vw;
        margin-right: 8vw;
    }
    .tools + p{
        top: 5vw;
        left: 2vw;
    }
    .start_tools + p{    
        top: 7vw;
        left: 3vw;
    }
    .menu-img-w, .menu-img-n{
        height: 8vw;
        width: 8vw;
    }
    .coursedata{
        width: 8vw;
        height: 8vw;
    }
    .help-link{
        width: 20vw !important;
    }
    .check-marker{
        height: 2vw;
        width: 2vw;
    }
    .obstacle{
        height: 3vw;
        width: 3vw;
        left: 2.5vw;
        top: 2.5vw;
    }
    .bump{
        height: 8vw;
    }
}
@media print{
    body{
        background-color: #FFFFFF;
    }
    table{
        overflow: visible;
    }
    .menu{
        display: none;
    }
    .image, #image-preview{
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
    .toolbar{
        display: none;
    }
    .check-marker{
        height: 17px;
        width: 17px;
    }
    .obstacle{
        height: 30px;
        width: 30px;
        left: 25px;
        top: 25px;
    }
    .bump{
        height: 80px;
        left: 37px;
        top: 0px;
    }
    .guide{
        display: none;
    }
    .copyright{
        display: none;
    }
}
.coursedata{
    margin: 4px 4px 4px 4px;
}
.menu-img-w, .menu-img-n{
    margin: 4px 4px 4px 4px;
    border: solid 0.1px #AAAAAA;
    background-color: #FFFFFF;
    cursor: pointer;
    z-index: 0;
}
.description{
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 4px;
    border: solid 1px #AAAAAA;
    font-size: 12px;
    color: #000000;
    background-color: #f8f8f8;
    z-index: 3;
}
.menu-img-w:hover + .description,
.menu-img-n:hover + .description,
.coursedata:hover ~ .description{
    display: block;
}
td{
    position: relative;
    border: 1px solid #AAAAAA;
    background-color: #FFFFFF;
}
.index{
    height: 35px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;
    color: #FFFFFF;
    background-color: #000000;
    cursor: normal;
}
.coursedata{
    font-size: 10px;
    text-align: center;
    color: #000000;
    background-color: #CCCCCC;
    border-radius: 7px 7px 7px 7px;   
}
.check-marker{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #FFD700;
    border-radius: 50%;
    z-index: 1;
}
.obstacle{
    display: block;
    position: absolute;
    z-index: 1;
}
.bump{
    display: block;
    position: absolute;
    z-index: 1;
}
.guide{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    padding: 7px 10px 7px 10px;
    font-size: 15px;
    width: 100%;
    background: #DDDDDD;
    cursor: default;
}
#contextmenu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    padding: 10px 10px 10px 10px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 8px #888888;
    z-index: 2;
}
.contextmenu-title_active, .contextmenu-title{
    padding-bottom: 5px;
    padding-top: 5px;
    font-size: 15px;
    border-bottom: solid 1px #AAAAAA;
}
.contextmenu-title{
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
}
.contextmenu-title_active{
    color: #000000;
    cursor: pointer;
}

#start{
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    overflow: auto;
    padding: 2vw 5vw 2vw 5vw;
    background-color: #F8F8F8;
    border-radius: 20px;
    font-size: 1.2vw;
    cursor: default;
    transition: all 0.3s 0s ease-out;
    z-index: 5;
}
#league{
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 30vh;
    left: 30vw;
    width: 40vw;
    height: 40vh;
    overflow: auto;
    padding: 2vw 5vw 2vw 5vw;
    background-color: #F8F8F8;
    border-radius: 20px;
    font-size: 1.2vw;
    cursor: default;
    transition: all 0.3s 0s ease-out;
    z-index: 5;
}
#league > span{
    font-size: 1.3vw;
    font-weight: 700;
    padding-bottom: 1vw;
}
#league.active{
    visibility: visible;
    opacity: 1;
}
#league_decide{
    position: absolute;
    right: 5vw;
    bottom: 3vw;
    width: 12vw;
    text-align: center;
    background-color: #000000;
    color: #f8f8f8;
    padding: 1vw;
    border-radius: 1vw;
}
#start.active{
    visibility: visible;
    opacity: 1;
}

#overlay{
    visibility: collapse;
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color: #555555;
    opacity: 0;
    transition: all 0.3s 0s ease-out;
    z-index: 4;
}
#overlay.active{
    visibility: visible;
    opacity: 0.7;
}
/* バンプ設定 */
#bump_settings{
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
    overflow: auto;
    padding: 2vw 5vw 2vw 5vw;
    background-color: #F8F8F8;
    border-radius: 20px;
    font-size: 1.2vw;
    cursor: default;
    transition: all 0.3s 0s ease-out;
    z-index: 5;
}
#bump_settings.active{
    visibility: visible;
    opacity: 1;
}
#bump_settings > div{
    display: flex;
    flex-direction: row;
    height: 2vw;
    margin-bottom: 1.2vw;
}
#bump_settings > p{
    margin-bottom: 1vw;
}
#bump_settings > div > span{
    margin-right: 10px;
}
.bump-input{
    height: 2vw;
    width: 7vw;
    padding: 2px;
    margin-right: 20px;
    border: solid 1px #000000;
    border-radius: 5px;
}
#image-preview{
    cursor: default !important;
}
#bump_decide{
    position: absolute;
    right: 20vw;
    bottom: 3vw;
    width: 12vw;
    text-align: center;
    background-color: #000000;
    color: #f8f8f8;
    padding: 1vw;
    border-radius: 1vw;
}
#bump_cancel{
    position: absolute;
    right: 5vw;
    bottom: 3vw;
    width: 12vw;
    text-align: center;
    background-color: #000000;
    color: #f8f8f8;
    padding: 1vw;
    border-radius: 1vw;
}
.container {
    display: block;
    position: relative;
    padding-left: 2vw;
    margin-bottom: 1vw;
    cursor: pointer;
    user-select: none;
    padding-right: 2vw;
}
/* デフォルトのラジオボタンデザインを無効化 */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* カスタムラジオボタンの作成 */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5vw;
    width: 1.5vw;
    background-color: #DDDDDD;
    border-radius: 50%;
}
/* チェックした時のカラーリング */
.container input:checked ~ .checkmark {
    background-color:#000000;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: solid 0.3vw #F8F8F8;
    border-radius: 50%;
    background-color:#000000;
}