/* home.html */
.home-img{
    margin: 3vw auto 3vw auto;
    width: 80vw;
    font-size: 5vw;
    font-weight: 500;
}
.home_link{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30vw;
    height: 4vw;
    color: #111111;
    border: solid 0.3vw #111111;
    background-color: #F8F8F8;
    font-size: 1.5vw;
    font-weight: 600;
    padding: 8px;
    border-radius: 1.5vw;
    margin: 1vw auto 1vw auto;
}
.home_link:hover{
    transition: all 0.2s ease-out;
    color: #F8F8F8;
    background-color: #111111;
}
.footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    bottom: 5px;
    left: 0;
    width: 100%;
}
.repository{
    color: #4400FF;
    text-decoration: underline solid 1px #4400FF;
}

/* general */
body{
    display: flex;
    flex-direction: column;
    background: #f8f8f8;
    font-family: "游ゴシック", "ヒラギノ角ゴシック", sans-serif;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}
.copyright{
    position: absolute;
    bottom: 5px;
    right: 0;
}
table{
    margin-left: 30px !important;
    border-collapse: collapse;
    overflow: scroll;
	overflow-x: auto;
	overflow-y: auto;
    max-height: 80vh;
}
.main{
    display: flex;
    align-items: flex-start;
}
.toolbar{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    background: #eeeeee;
    border: solid 1px #888888;
}
.toolbar > div, .toolbar > label, #start > div > div, #start > div > label{
    position: relative;
}
.tools, .start_tools{
    background-color: #EEEEEE;
    border-radius: 30%;
    padding: 10px;
    margin-top: 3px;
    margin-bottom: 3px;
    cursor: pointer;
}
.tools:hover, .start_tools:hover, .line_tools:hover{
    background-color: #DDDDDD;
}
.tools + p, .start_tools + p, .line_tools + p{
    display: none;
    position: absolute;
    width: max-content;
    font-size: 15px;
    background-color: #F8F8F8;
    border-radius: 5px;
    padding: 3px;
    box-shadow: 0 0 8px #888888;
    z-index: 3;
}
.tools:hover + p, .start_tools:hover + p, .line_tools:hover + p{
    display: block;
}
.menu, .menu_start{
    display: flex;
    position: relative;
    margin-left: 10px;
    flex-direction: column !important;
    border-right: solid 5px #000000;
    overflow: auto;
    max-height: 80vh;
}
.group{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
@media screen and (min-width:1040px){
    .menu{
        width: 340px;
    }
    .index{
        width: 270px;
    }
    .image, #image-preview{
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
    .tools{
        width: 50px;
        height: 50px;
        margin-right: 25px;
    }
    .start_tools{
        width: 90px;
        height: 90px;
        margin-right: 80px;
    }
    .tools + p{
        top: 50px;
        left: 20px;
    }
    .start_tools + p{    
        top: 80px;
        left: 30px;
    }
    .menu-img-w, .menu-img-n, .coursedata{
        width: 60px;
        height: 60px;
    }
    .check-marker{
        height: 17px;
        width: 17px;
    }
    .obstacle{
        height: 30px;
        width: 30px;
        left: 25px;
        top: 25px;
    }
    .bump{
        height: 80px;
    }
}
@media screen and (max-width:1040px) and (min-width:920px){
    .menu{
        width: 270px;
    }
    .index{
        width: 200px;
    }
    .image, #image-preview{
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
    .tools{
        width: 50px;
        height: 50px;
        margin-right: 20px;
    }
    .start_tools{
        width: 80px;
        height: 80px;
        margin-right: 80px;
    }
    .tools + p{
        top: 50px;
        left: 20px;
    }
    .start_tools + p{    
        top: 70px;
        left: 30px;
    }
    .menu-img-w, .menu-img-n, .coursedata{
        height: 60px;
        width: 60px;
    }
    .check-marker{
        height: 17px;
        width: 17px;
    }
    .obstacle{
        height: 30px;
        width: 30px;
        left: 25px;
        top: 25px;
    }
    .bump{
        height: 80px;
    }
}
@media screen and (max-width:920px){
    .menu{
        width: 25vw;
    }
    .index{
        width: 20vw;
    }
    .image, #image-preview{
        height: 8vw;
        width: 8vw;
        cursor: pointer;
    }
    .tools{
        width: 6vw;
        height: 6vw;
        margin-right: 2vw;
    }
    .start_tools{
        width: 8vw;
        height: 8vw;
        margin-right: 8vw;
    }
    .tools + p{
        top: 5vw;
        left: 2vw;
    }
    .start_tools + p{    
        top: 7vw;
        left: 3vw;
    }
    .menu-img-w, .menu-img-n, .coursedata{
        height: 8vw;
        width: 8vw;
    }
    .help-link{
        width: 20vw !important;
    }
    .check-marker{
        height: 2vw;
        width: 2vw;
    }
    .obstacle{
        height: 3vw;
        width: 3vw;
        left: 2.5vw;
        top: 2.5vw;
    }
    .bump{
        height: 8vw;
    }
}
@media print{
    body{
        background-color: #FFFFFF;
    }
    table{
        overflow: visible;
    }
    .menu{
        display: none;
    }
    .image, #image-preview{
        height: 80px;
        width: 80px;
        cursor: pointer;
    }
    .toolbar{
        display: none;
    }
    .check-marker{
        height: 17px;
        width: 17px;
    }
    .obstacle{
        height: 30px;
        width: 30px;
        left: 25px;
        top: 25px;
    }
    .bump{
        height: 80px;
        left: 37px;
        top: 0px;
    }
    .guide{
        display: none;
    }
    .copyright{
        display: none;
    }
}
.description{
    display: none;
    position: absolute;
    left: 0px;
    bottom: 0px;
    padding: 4px;
    border: solid 1px #AAAAAA;
    font-size: 12px;
    color: #000000;
    background-color: #f8f8f8;
    z-index: 3;
}
td{
    position: relative;
    border: 1px solid #AAAAAA;
    background-color: #FFFFFF;
}
.index{
    padding: 5px;
    border-bottom: 3px solid #000000;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 35px;
    padding-top: 10px;
    padding-left: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: normal;
}
.check-marker{
    position: absolute;
    left: 0px;
    top: 0px;
    background-color: #FFD700;
    border-radius: 50%;
    z-index: 1;
}
.obstacle{
    display: block;
    position: absolute;
    z-index: 1;
}
.bump{
    display: block;
    position: absolute;
    z-index: 1;
}
.guide{
    position: absolute;
    bottom: 0px;
    left: 0px;
    height: 30px;
    padding: 7px 10px 7px 10px;
    font-size: 15px;
    width: 100%;
    background: #DDDDDD;
    cursor: default;
}
#contextmenu{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    background: #FFFFFF;
    padding: 5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 8px #888888;
    z-index: 2;
}
.contextmenu-border{
    margin: 2px 3px 2px 3px;
    color: #CCCCCC;
}
.contextmenu-title_active, .contextmenu-title{
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
}
.contextmenu-title{
    color: #AAAAAA;
    cursor: default;
    pointer-events: none;
}
.contextmenu-title_active{
    color: #000000;
    cursor: pointer;
}
.contextmenu-title_active:hover{
    background-color: #EDEDED;
}

#overlay{
    visibility: collapse;
    position:absolute;
    left:0;
    top:0;
    width:100vw;
    height:100vh;
    background-color: #555555;
    opacity: 0;
    transition: all 0.3s 0s ease-out;
    z-index: 4;
}
#overlay.active{
    visibility: visible;
    opacity: 0.7;
}

#start, #league, #level, #rule, #statistics, #bump_settings{
    visibility: collapse;
    opacity: 0;
    display: flex;
    flex-direction: column;
    position: fixed;
    overflow: auto;
    padding: 2vw 5vw 2vw 5vw;
    background-color: #F8F8F8;
    border-radius: 20px;
    font-size: 1.2vw;
    cursor: default;
    transition: all 0.3s 0s ease-out;
    z-index: 5;
}
#start, #bump_settings{
    top: 10vh;
    left: 10vw;
    width: 80vw;
    height: 80vh;
}
#league{
    top: 30vh;
    left: 30vw;
    width: 40vw;
    height: 40vh;
}
#level{
    top: 15vh;
    left: 10vw;
    width: 80vw;
    height: 70vh;
}
#rule, #statistics{
    top: 10vh;
    left: 15vw;
    width: 70vw;
    height: 80vh;
}
#start.active, #league.active, #bump_settings.active, #level.active, #rule.active, #statistics.active{
    visibility: visible;
    opacity: 1;
}
#bump_decide, #bump_cancel, #league_decide,#league_nrl, #league_wrl, #rule_close, #statistics_close, #level_decide{
    position: absolute;
    width: 10vw;
    height: -moz-fit-content;
    height: fit-content;
    font-weight: 500;
    text-align: center;
    background-color: #F8F8F8;
    color: #111111;
    border: solid 3px #111111;
    padding: 8px;
    border-radius: 1.9vw;
}
#bump_decide:hover, #bump_cancel:hover, #league_decide:hover, #league_nrl:hover, #league_wrl:hover, #rule_close:hover, #statistics_close:hover, #level_decide:hover{
    transition: all 0.2s ease-out;
    background-color: #111111;
    color: #F8F8F8;
}
#bump_decide, #league_wrl{
    right: 20vw;
    bottom: 3vw;
}
#bump_cancel, #league_decide, #league_nrl, #rule_close, #statistics_close, #level_decide{
    right: 5vw;
    bottom: 3vw;
}
#bump_settings > div{
    display: flex;
    flex-direction: row;
    height: 2vw;
    margin-bottom: 1.2vw;
}
#bump_settings > p{
    margin-bottom: 1vw;
}
#bump_settings > div > span{
    margin-right: 10px;
}
.bump-input{
    height: 2vw;
    width: 7vw;
    padding: 2px;
    margin-right: 20px;
    border: solid 1px #000000;
    border-radius: 5px;
}
#image-preview{
    cursor: default !important;
}
.container {
    display: block;
    position: relative;
    padding-left: 2vw;
    margin-bottom: 1vw;
    cursor: pointer;
    user-select: none;
    padding-right: 2vw;
}
/* デフォルトのラジオボタンデザインを無効化 */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}
/* カスタムラジオボタンの作成 */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 1.5vw;
    width: 1.5vw;
    background-color: #DDDDDD;
    border-radius: 50%;
}
/* チェックした時のカラーリング */
.container input:checked ~ .checkmark {
    background-color:#000000;
}
.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}
.container input:checked ~ .checkmark:after {
    display: block;
}
.container .checkmark:after {
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
    border: solid 0.3vw #F8F8F8;
    border-radius: 50%;
    background-color:#000000;
}